<main class="container">
  <div class="bg-light p-5 rounded mt-3">
    <h1>Listar Usuarios</h1>

{{#if table}}

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#ID</th>
      <th scope="col">Nome</th>
      <th scope="col">E-Mail</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>

{{#each usuarios}}
  
    <tr>
      <th scope="row">{{id}}</th>
      <td>{{nome}}</td>
      <td>{{email}}</td>
      <td>

        <form action="/editar" method="post">
          <input type="hidden" name="id" value="{{id}}">
          <button class="w-100 btn btn-info">Editar</button>
        </form>

        <div class="row g-1">
          
          <div class="col-6 col-md-4"> 
            <button type="button" class="w-100 btn btn-danger" data-toggle="modal" data-target="#deleteModal_{{id}}">Deletar</button>
          </div>

        </div>
      </td>
    </tr>

<!-- Modal -->
<div class="modal fade" id="deleteModal_{{id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        tem certeza que deseja excluir {{nome}}?
      </div>
      <div class="modal-footer">

        <form action="/delete" method="post">

          <input type="hidden" name="id" value="{{id}}">
          <button type="submit" class="btn btn-primary">Confirmar</button>

        </form>

        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>

      </div>
    </div>
  </div>
</div>

{{/each}}

  </tbody>
</table>

{{else}}
  <div class="card mt-4">
    <div class="card-body">
      Nenhum dado encontrado!
    </div>
  </div>
{{/if}}

  </div>
</main>